body{
    background-color: #6ab7ff;
    font-family:"SansSerif", "Rockwell", "Times New Roman";
}
.main{
    background-color: orange;
    width:100%;
    text-align: center;
}
.side-nav{
    border:1px solid black;
    height:50vh;
    margin:40px;
}
.cards{
    border:1px solid black;
    height:75vh;
    margin:40px;
}
header{
    background-color: #6ab7ff;
}
.bird-cards{
    border: 1px solid black;
    height:20vh;
    margin: 4px;
}