body{
    background-color: #6ab7ff;
    font-family:"SansSerif", "Rockwell", "Times New Roman";
}
.main{

    text-align: center;
    background-image: url('Images/landscape.png');
    background-repeat: no-repeat;
    background-position: center;
}
.main-area{

}
.cards{

    padding: 20px;
}
header{
    background-image: url("Images/background birds.png");
    padding:5px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom:5px;

}
.bird-cards{
    border: 1px solid black;
    /*width:100px;*/
    margin: 4px;
    opacity: .8;
}
.bird-cards:hover{
    opacity:1;
}
/*-------------------------------stats--------------------------------------*/
.bottom-nav{
    border:1px solid black;
    margin:40px;
    text-align: left;
    background-color: white;
    border-radius: 25px;
}
#stats{
    display: inline-block;
    text-align: left;
}
#reset-game{
    margin:8px;
}