body {
    background: url("http://zachd.com/mvc2/pictures/Backgrounds/Honda_Stage.jpg") no-repeat center top;
    background-size: cover;
}
.content-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.header-container {
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
}
.header-container h1, .header-container nav, .header-container li {
    display: inline-block;
}
.header-container h1 {
    vertical-align: top;
}
.header-container ul {
    vertical-align: bottom;
}
.main-content {
    width: 80%;
    height: 70%;
    margin: auto;
}
aside.stats-container {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}
.card-container {
    width: 89%;
    height: 100%;
    display: inline-block;
    position: relative;
    font-size: 0;
}

.card-container .card {
    position: relative;
    width: 16%;
    height: 33%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
}
.front, .back {
    position: absolute;
    width: 100%;
    height: auto;
}
.card-container .front img, .card-container .back img {
    width: 100%;
    height: 100%;
}
