@font-face{
    font-family: 'harrypotterimport';
    src: url(./fonts/harrypotter.ttf);
}

@font-face{
    font-family:'lumoslatinoimport';
    src: url(./fonts/lumoslatino.ttf);
}

.front{
    border: solid 3px black;
    margin:4px;
    z-index: 0;
}

.back{
    margin:4px;
    border:solid 3px black;
    z-index: 1;
}

.front, .back{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
}

.label,.reset{
    margin-top: 50px;
}

img{
    width: 100%;
    height:100%;
    box-sizing: border-box;
}

/*.stat{*/
    /*background-color:white;*/
    /*border-radius:25px;*/
/*}*/




.card{
    position: relative;
    display: inline-block;
    width: 19%;
    height: 20%;
    margin: 1%;
    padding: 1%;
}

#game-area {
    display: inline-block;
    position: relative;
    left: 19vw;
    width: 53%;
    height: 74vh;
    top: 1vw;
}

body{
    background-image: url("images/hogwarts2.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;

}


.games-played{
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 14%;
    height: 66vh;
    background-color: antiquewhite;
    background: rgba(0,0,0,0.2);
    border-radius: 13px;
    left: 16vw;
    top: 4.3vw;
    text-align: center;
    color:white;
    font-family: 'lumoslatinoimport';
    font-size:3vh;
    border: 1px solid white;
}

header{
    width:100%;
    height: 8vh;
    margin-bottom: 20px;
    margin-top:20px;
    border-radius:13px;
    font-family: 'harrypotterimport';
    text-align: center;
    color:white;
    font-size:9vh;

}

/*.header_text{*/
    /*margin:3%;*/
    /**/
/*}*/



