/* ***********
Project Name: Memory Match
File Name: style.html
Author: Lance Takiguchi
Date: 08/24/2016 Time: 16:31
Objective: Provide the CSS style of the game
 *********** */

/* ****** ALL ******* */
body{
    font-family: Arial, Helvetica, serif;
    height: 100vh;
}
.game-area{
    background-image: url(images/ms_art_background.jpg);
    height: 100%;
}

/* ****** Nav Bar | All Pages ****** */
.nav{
    list-style-type: none;
}
.nav li{
    display: inline-block;
}


/* ****** Home/Game Page ****** */
/* **** Display Communications **** */
#stats{
    display: inline-block;
}
/* **** Card **** */
.card{
    height: 175px;
    width: 125px;
    position: relative;

    display: inline-block;

    border: black solid 4px;
    margin: 10px;
}
.front{
    height: 100%;
    width: 100%;
    background-color: bisque;

    position: absolute;
}

.back{
    height: 100%;
    width: 100%;
    background-color: bisque;

    position: absolute;
}
.card img{
    width: 100%;

    position: absolute;
}
.card .front img{
    bottom: 0;
    width: 90%;
}
/* ** Gameplay ** */
#communication_display{
    display: block;
    width: 100%;
    height: 60px;
    background-color: bisque;

    font-size: 60px;

    text-align: center;
}

/* ****** About Page ****** */
#profile_picture{
    max-height: 400px;
}
.about_p{
    text-indent: 50px;
}
