.headerNavigation li, .middle-text, .footerContainer, .small-boxes div{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #6a6969;
}

.headerContainer{
    width: 1000px;
    height: 472px;
    background-color: #fffabe;
    box-sizing: border-box;
    position: static;
    margin-bottom: 20px;

}

.logoImage{
    margin: 20px;
    position: relative;
    padding-left: 25px;
}

.headerNavigation{
    width: 650px;
    float: right;
    padding: 15px 61px 0 48px;
}

.headerNavigation li{
    display: inline;
    list-style-type: none;
    padding-right: 40px;
    color: #515151;
    font-size: 16px;
    text-transform: uppercase;
}

.headerNavigation a{
    text-decoration: none;
}

.headerContainer li:hover{
    color: #d42551;
}

.middle-container{
    width: 970px;
    height: 450px;
    display: inline-flex;
    margin: 0 15px 0 15px;
}

.middle-container img{
    position: relative;
    top: 60px;
    width: 187px;
    height: 240px;
}

.middle-text{
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin-left: 25px;
    text-align: justify;
    line-height: 20px;
}

.middle-text p:nth-child(odd){
    font-size: 20px;
    line-height: 50px;
}

.middle-text p:nth-child(even){
    margin-bottom: 10px;
}

.flavors-container{
    width: 970px;
    height: 180px;
    margin: 30px 15px 0 15px;
}

.flavors-container div{
    width: 126px;
    height: 140px;
    background-color: #fffabe;
    display: inline-flex;
    margin: 0 5px 0 4px;
    box-sizing: border-box;
    position: relative;
}

.small-boxes div:first-of-type{
    margin: auto;
    position: absolute;
    width: 126px;
    height: 107px;
}

.small-boxes div:nth-child(2){
    margin: auto;
    position: absolute;
    width: 126px;
    height: 33px;
    bottom: 0;
}

.monday div:nth-child(2){
    background-color: #824603;
    color: #ffffff;
}

.wednesday div:nth-child(2){
    background-color: #df5277;
    color: #ffffff;
}

.friday div:nth-child(2){
    background-color: #a2304e;
    color: #ffffff;
}

.sunday div:nth-child(2){
    background-color: #c39005;
    color: #ffffff;
}

.small-boxes div p::first-line{
    font-size: 14px;
}

.small-boxes div{
    padding: 5px 0 0 10px ;
}

.small-boxes img{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 9px 0;
}

.footerContainer{
    width: 1000px;
    height: 80px;
    background-color: #df5277;
    color: #ffffff;
    text-align: center;
    margin-right: 10px;
}

.footerContainer p{
    display: inline-block;
}

.middle-left{
    margin-left: 20%;
}

.middle-right{
    margin-right: 20%;
}

footer img{
    margin: 0 10px 0 10px;
}

footer a{
    padding-left: 45px;
}

