body{
    margin:0;
    padding:0;
}

header{
    background-color:black;
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:20vh;
    margin:0;
    padding:0;
}

nav>ul{
    list-style: none;
    text-align:center;
    position:relative;
    top:2vh;
}
nav li{
    display:inline-block;
    margin: 0 15px 0 15px;
    font-size:1.2em;
}

nav a:link{
    color: #b0fffa;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}

nav a:hover{
    color: #b0fffa;
    border-bottom: 1px solid #b0fffa;
    border-radius: 1px;
    padding-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    -webkit-animation: underline 2s ease;
    animation: underline 2s ease;
}

@-webkit-keyframes underline {
    from {border-bottom: solid 1px rgba(0,0,0,0);}
    to {border-bottom: solid 1px #b0fffa;}
}

@keyframes underline {
    from {border-bottom: solid 1px rgba(0,0,0,0);}
    to {border-bottom: solid 1px #b0fffa;}
}

nav a:visited{
    color: #b0fffa;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}

nav a:active{
    color: #b0fffa;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #b0fffa;
    font-family: 'Roboto', sans-serif;
    font-size:2.5em;
    -webkit-box-reflect: below -10px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255,     255, 0.3)));
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align:center;
}

#container{
    width:100vw;
    height:100vh;
    position:relative;
    top:20vh;
    background-image: url("images/spacescape.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 120%;
}

#game-area{
    width:70%;
    margin:0 auto;
    height:65%;
    position:relative;
    bottom:70vh;
    left:7vw;
}

.card{
    width:10vw;
    height:10vw;
    display:inline-block;
    border-radius: 8px;
}

/*------------ANIMATION ADDING-------------*/




/*------------ANIMATION ADD END-------------*/

.back{
    width:10vw;
    height:10vw;
    display:inline-block;
    border-radius: 50%;
    position:relative;
    background-image: url("images/backOfPlanet.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.front{
    width:10vw;
    height:10vw;
    display:inline-block;
    border-radius: 50%;
    background-color:blue;
    position:absolute;
    float:right;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.back.hide_back{
    opacity: 0;
}

.row_1,
.row_2,
.row_3{
    margin-bottom:10vh;
    display:flex;
    justify-content:space-between;
}

#stats{
    width:15vw;
    height:80vh;
    background: rgba(0, 0, 0, 0.7);
    display:inline-block;
    border-radius: 0 0 8px 8px;
}

.games-played{
    width: 80%;
    height:27%;
    background-color:black;
    margin:auto;
    border-radius:8px;
    box-shadow: 0 0 10px #b0fffa;
}

.attempts{
    width: 80%;
    height:27%;
    background-color:black;
    margin:auto;
    border-radius:8px;;
    box-shadow: 0 0 10px #b0fffa;
}

.accuracy{
    width: 80%;
    height:27%;
    background-color:black;
    margin:auto;
    border-radius:8px;
    box-shadow: 0 0 10px #b0fffa;
}

.label{
    color:#b0fffa;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    text-align:center;
    position: relative;
    top: 1vw;
}

button.reset{
    width: 80%;
    height: 5%;
    display:block;
    margin:auto;
    position:relative;
    top: 1.8vw;
    color:#b0fffa;
    font-family: 'Roboto', sans-serif;
    font-size:1.2em;
    border-radius:15px;
    background-color:black;
    border:none;
    box-shadow: 0 0 10px #b0fffa;
}

/*-------ABOUT ME----------*/

.my_picture{
    width:30vw;
    height:20vw;
    margin:0 auto;
    background-image: url("images/bluepic.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display:block;
    border-radius: 8px;
    position:relative;
    top:5vw;
}

.my_info{
    width:40vw;
    height:20vw;
    margin:0 auto;
    display:block;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    position:relative;
    top:8vw;
    text-align:center;
    padding-top: 2vw;
}

.my_info a:link{
    color: #b0fffa;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-size:1.5em;
}

.my_info a:hover{
    color: #b0fffa;
    border-bottom: 1px solid #b0fffa;;
    border-radius: 1px;
    padding-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    -webkit-animation: underline 2s ease;
    animation: underline 2s ease;
}

.my_info a:visited{
    color: #b0fffa;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}

.my_info a:active {
    color: #b0fffa;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.about_the_game_paragraph{
    color: #b0fffa;
    text-align:justify;
    font-family: 'Roboto', sans-serif;
    padding: 0 2vw 0 2vw;
}

.skills{
    width:40vw;
    height:6vw;
    padding-top: 2vw;
    text-align:center;
    color: #b0fffa;
    font-family: 'Roboto', sans-serif;
}

.skills ul{
    text-align:left;
}

/*-------------v1.0 CSS---------------*/

.games-played .value{
    text-align:center;
    color: #b0fffa;
    font-family: 'Roboto', sans-serif;
    font-size: 3.2em;
    -webkit-box-reflect: below -10px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255,     255, 0.3)));
}

.attempts .value{
    text-align:center;
    color: #b0fffa;
    font-family: 'Roboto', sans-serif;
    font-size: 3.2em;
    -webkit-box-reflect: below -10px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255,     255, 0.3)));
}

.accuracy .value{
    text-align:center;
    color: #b0fffa;
    font-family: 'Roboto', sans-serif;
    font-size: 3.2em;
    -webkit-box-reflect: below -10px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255,     255, 0.3)));
}

.glow, .glow:hover, .glow:focus
{
    text-decoration: none;
    color: #aaf;
    text-shadow: none;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none;
}

.back:hover{
    box-shadow: 0 0 10px #b0fffa;
}